<div class="container my-5">
  <h2 class="text-center mb-4">Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">


    <div class="mb-3 position-relative">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{ 'is-invalid': changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched }">
      <div *ngIf="changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched" class="text-danger">
        A valid email is required.
      </div>
       </div>

      <div class="mb-3 position-relative">
       <label for="currentPassword" class="form-label">Current Password</label>
      <input id="currentPassword" [type]="passwordVisible ? 'text' : 'password'" class="form-control" formControlName="currentPassword">
      <button type="button" class="btn btn-light position-absolute" style="right: 10px; top: 35%;" (click)="togglePasswordVisibility()">
        <i class="bi" [ngClass]="passwordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
      </button>
      <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
        Current password is required.
      </div>
    </div>

    <div class="mb-3 position-relative">
      <label for="newPassword" class="form-label">New Password</label>
      <input id="newPassword" [type]="passwordVisible ? 'text' : 'password'" class="form-control" formControlName="newPassword">
      <button type="button" class="btn btn-light position-absolute" style="right: 10px; top: 35%;" (click)="togglePasswordVisibility()">
        <i class="bi" [ngClass]="passwordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
      </button>

    </div>

    <div class="mb-3 position-relative">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <input id="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" class="form-control" formControlName="confirmPassword">
      <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
        Passwords must match.
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change Password</button>
    </div>
  </form>
</div>
