
<div class="mt-5">
  <h2 class="warehouse-count text-center mb-4">
    Have <span class="count">{{ warehouseCount }}</span> Warehouse(s) Existing
  </h2>




  <div class="container">
    <div class="table-responsive">
     <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3>Warehouses</h3>
      <button class="btn btn-primary" (click)="addWarehouse()">
        Add Warehouse
      </button>
    </div>
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>City</th>
            <th>Status</th>
            <th>Items Count</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let warehouse of warehouses">
            <td>{{ warehouse.name }}</td>
            <td>{{ warehouse.address }}</td>
            <td>{{ warehouse.country }}</td>
            <td>{{ warehouse.city }}</td>
            <td>
              <span class="badge"
                    [ngClass]="{
                      'bg-success text-white': warehouse.status === 'Available',
                      'bg-secondary text-white': warehouse.status === 'Empty'
                    }">
                {{ warehouse.status }}
              </span>
            </td>

            <td>{{ warehouse.itemsCount }}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="checkItems(warehouse.id)">
                Check Items
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>














